<div class="conteiner-menu">
  <ul class="menuu">
      <a routerLinkActive="text-success" [routerLink]="['/candidates']"><li>
        <img src= "../assets/img/icons/select-all.png"> &nbsp;&nbsp;Todos</li></a>
      
        <a routerLinkActive="text-success" [routerLink]="['/accepted']"><li>
        <img src="../assets/img/icons/double-checked.png"> &nbsp;&nbsp;Atendidos</li></a>
      
        <a routerLinkActive="text-success" [routerLink]="['/trash']"><li>
        <img src="../assets/img/icons/delete.png"> &nbsp;&nbsp;Lixeira</li></a>
  </ul>
</div>